Bot-PreguntasFrecuentes/.vscode
venv
Bot-PreguntasFrecuentes/__pycache__
#TODO Bot-PreguntasFrecuentes/Datos/Credentials.json 
Bot-PreguntasFrecuentes/Datos/**/*.png
Bot-PreguntasFrecuentes/Datos/**/*.jpg
.vscode
